{% extends 'baseAdmin.html.twig' %}

{% block title %}Modération des commentaires
{% endblock %}

{% block body %}
	<h1>Commentaires</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Contenu</th>
				<th>Auteur</th>
				<th>Publié le :</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{ comment.author.username }}</td>
					<td>{{ comment.content }}</td>
					<td>{{ comment.createAt ? comment.createAt|date('Y-m-d') : '' }}</td>
					<td>
						<a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
