{% extends 'base.html.twig' %}

{% block title %}Les figurines
{% endblock %}

{% block body %}
<h1>Decouvrer les figurines</h1>
{% for figurine in figurines %}
	<div class="card" style="width: 18rem;">
		{% for picture in figurine.pictures|slice(0, 1) %}
			<img src="/uploads/{{ picture.url }}" class="card-img-top" alt="...">
		{% endfor %}
		<div class="card-body">
			<h4 class="card-title">{{ figurine.name }}</h4>
			<h5 class="card-title">{{ figurine.owner.username }}</h5>
			<h6 class="card-title">{{ figurine.category.name }}</h6>
			{{ figurine.createAt ? figurine.createAt|date('Y-m-d') : '' }}
			{% if figurine.createAt|date('Y-m-d') == "now"|date('Y-m-d') %}
				<span class="badge bg-secondary">New</span>
			</h4>
		{% endif %}

		<p class="card-text">{{ figurine.description }}</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			{{ figurine.upvote }}
			<a href="{{ path('figurine_upvote', {'id': figurine.id}) }}">Vote positif</a>
		</li>
		<li class="list-group-item">{{ figurine.downvote }}
			<a href="{{ path('figurine_downvote', {'id': figurine.id}) }}">Vote négatif</a>
		</li>
		<li class="list-group-item">{{ figurine.comments|length }}
		</li>
	</ul>
	<div class="card-body">
		<a href="{{ path('figurine_show', {'id': figurine.id}) }}">Voir plus</a>
	</div>
</div>{% endfor %}{% endblock %}
