{% extends 'base.html.twig' %}

{% block title %}Les figurines
{% endblock %}

{% block body %}
	<h1>Decouvrer les figurines</h1>
	{% for figurine in figurines %}
		<div class="card" style="width: 18rem;">
			{% for picture in figurine.pictures %}
				<img src="/uploads/{{ picture.url }}" class="card-img-top" alt="...">
			{% endfor %}
			<div class="card-body">
				<h4 class="card-title">{{ figurine.name }}</h4>
				<h5 class="card-title">{{ figurine.owner.username }}</h5>
				<h6 class="card-title">{{ figurine.category.name }}</h5>
				{{ figurine.createAt ? figurine.createAt|date('Y-m-d') : '' }}
				<p class="card-text">{{ figurine.description }}</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">{{ figurine.upvote }}</li>
				<li class="list-group-item">{{ figurine.downvote }}</li>
			</ul>
			<div class="card-body">
				<a href="{{ path('figurine_show', {'id': figurine.id}) }}">Detail</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
