{% extends 'base.html.twig' %}

{% block title %}Figurine
{% endblock %}

{% block body %}
	<h1>Figurine</h1>
	<a href="{{ path('figurine_index') }}">Retour</a>
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ figurine.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ figurine.name }}</td>
			</tr>
			<tr>
				<th>Posté le
				</th>
				<td>{{ figurine.createAt ? figurine.createAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Auteur</th>
				<td>{{ figurine.owner.username }}</td>
			</tr>
			<tr>
				<th>Categorie</th>
				<td>{{ figurine.category.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ figurine.description }}</td>
			</tr>

			<tr>
				<th>Votes positifs</th>
				<td>{{ figurine.upvote|length }}</td>
			</tr>
			<tr>
				<th>Votes negatifs</th>
				<td>{{ figurine.downvote|length }}</td>
			</tr>
		</tbody>
	</table>
	<h2>Galerie d'images :</h2>
	{% for picture in figurine.pictures %}
		<img src="/uploads/{{ picture.url }}" width="200" class="card-img-top" alt="...">
	{% endfor %}
	<h2>Les commentaires (
		{{ figurine.comments|length }}
		) :
	</h2>
	<a href="{{ path('comment_new', {'id': figurine.id}) }}">Ajouter un commentaire</a>
	{% for comment in figurine.comments %}
		<h4>{{ comment.author.username }}</h4>
		<h5>{{ comment.createAt ? comment.createAt|date('Y-m-d') : '' }}</h5>
		<p>{{ comment.content }}</p>
	{% endfor %}


{% endblock %}
