{% extends 'base.html.twig' %}
{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Pseudo :
			{{ app.user.username }}</h1>
		<h2>Email :
			{{ app.user.email }}</h2>
		<h4>Avatar :
			{{ app.user.avatar }}</h4>
		<form action="" method="POST">
			<input type="file">
			<button type="submit">Modifier</button>
		</form>
		<h5>Mes figurines (
			{{ app.user.figurines|length }}
			) :</h5>
		<div class="container d-flex justify-content-around mt-3">
			{% for figurine in app.user.figurines %}
				<div class="card col me-3" style="width: 18rem;">
					{% for picture in figurine.pictures|slice(0, 1) %}
						<img src="/uploads/{{ picture.url }}" class="card-img-top" alt="...">
					{% endfor %}
					<div class="card-body">
						<h4 class="card-title">{{ figurine.name }}</h4>
						<h5 class="card-title">{{ figurine.owner.username }}</h5>
						<h6 class="card-title">{{ figurine.category.name }}</h6>
						{{ figurine.createAt ? figurine.createAt|date('Y-m-d') : '' }}
						{% if figurine.createAt|date('Y-m-d') == "now"|date('Y-m-d') %}
							<span class="badge bg-secondary">New</span>
						</h4>
					{% endif %}

					<p class="card-text">{{ figurine.description }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						{{ figurine.upvote|length }}</li>
					<li class="list-group-item">{{ figurine.downvote|length }}</li>
					<li class="list-group-item">{{ figurine.comments|length }}</li>
				</ul>
				<div class="card-body">
					<a href="{{ path('figurine_edit', {'id': figurine.id}) }}">Gerer la publication</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<h5>Mes commentaires (
		{{ app.user.comments|length }}
		) :</h5>
	{% for comment in app.user.comments %}
		<h4>{{ comment.author.username }}</h4>
		<h5>{{ comment.createAt ? comment.createAt|date('Y-m-d') : '' }}</h5>
		<p>{{ comment.content }}</p>
	{% endfor %}
</div>{% endblock %}
